<!DOCTYPE html>
<html>

<head>
	<title>詳細画面</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="container">
		<header>
			<h3 align="center">掲示板</h3>
			<hr size=4>
		</header>

		<div align="right">
			<button type="submit">戻る</button>
		</div>

		<div class="mid_title">タイトル</div>
		<div class="mid_title">内容</div>
		<div class="mid_title">分類</div>
		<div class="mid_title">作成者</div>

		<hr>

		<div align="center">
			<button type="submit">編集</button>
			<button type="submit">戻る</button>
		</div>
	</div>
</body>

</html>