@CHARSET "UTF-8";

h3{
	color: #428bca;
}
hr{
	background-color: #428bca;
}
thead{
	background-color: #428bca;
	color: #ffffff;
}

td.bg-primary{
	background-color: #428bca;
	color: #ffffff;
}
div.mid_title{
	color: #428bca;
}
.container {

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  width: 960px;
  }
}
