<!DOCTYPE html>
<html>

<head>
	<title>トップ画面</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="container">
		<header>
			<h3 align="center">掲示板</h3>
			<hr size=4>
		</header>

		<div align="right">
			<button type="submit">戻る</button>
			<button type="submit">新規作成</button>
		</div>

		<table border=1>
			<colgroup>
				<col width="130px">
				<col width="130px">
				<col width="450px">
				<col width="130px">
				<col width="70px">
				<col width="70px">
			</colgroup>
			<thead>
				<td>作成日</td>
				<td>分類</td>
				<td>タイトル</td>
				<td>作成者</td>
				<td></td>
				<td></td>
			</thead>
			<tr>
				<td>2015/01/11</td>
				<td>イベント</td>
				<td>2015年春研修</td>
				<td>田中かなた</td>
				<td align="center"><button type="submit">詳細</button></td>
				<td align="center"><button type="submit">編集</button></td>
			<tr>
		</table>
	</div>
</body>
</html>