@CHARSET "UTF-8";

.container {
	width: 80%;
}

header {
	color: #2e82c1;
}

thead {
	background-color: #428bca;
	color: #fff;
}

table {
	border-collapse: collapse;
	border: #dddddd;
	line-height: 1.7;
}

.bg-primary {
	background-color: #428bca;
	color: #fff;
}

.mid_title {
	color: #2e82c1;
}

.report {
	margin-top:5px;
	margin-left: 20px;
}